    <div id="wrapper">
      <h1>Saved Articles</h1>
   
      <div id="myarticles">
      {{#each sa}}
      <p><button>Delete</button>{{title}}</p>
      {{/each}}
      	



      </div>
      {{!-- <div id="notes"></div> --}}
    </div>