    <div id="wrapper">
      <h3>Notes for Article Titled: </h1>
      <h2 id="paper" data-id={{paper._id}}>{{paper.title}}</h3>
      <br>
   
      <div id="notes">
      	<div class="panel panel-default">
	    	<div class="panel-body">
	      		{{#each paper.notes}}
	    	      	{{this.body}}<button class='delete-note' data-id='{{this._id}}'>Delete Note</button><br><hr>
	      		{{/each}}
			</div>
		</div>
      </div>
    </div>

    <div id="wrapper">

      	<div class="panel panel-default">
	    	<div class="panel-body">		

  				<form>
	
      				<textarea class="form-control" id="note-body" placeholder="New Note"></textarea>

    				<button type="submit" id="save-note">Save Note</button>
  				</form>

			</div>
		</div>	
	</div>




